body {
  margin: 0 auto;
  background: #191919;
  padding: 46px 70px 86px;
}

/* header */

header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
}

nav {
  display: flex;
  gap: 40px;
}

a {
  text-decoration: none;
  color: #FFF;
  font-family: DM Sans;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}

a:nth-child(1) {
  color: #118DA8;
}

/*section*/

section {
  padding-top: 86px;
  display: flex;
  gap: 124px;
  align-items: center;
}

h1 {
  color: #FFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: DM Sans;
  font-size: 70px;
  font-style: normal;
  font-weight: 400;
  line-height: 88px;
  letter-spacing: 3.2px;
  margin: 0;
  margin-bottom: 24px;
}

h1 span {
  font-weight: 700;
}

h2 {
  color: #FFF;
  font-family: DM Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  margin-bottom: 16px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 17px;
}